In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    [[4,7,4], 
     [5,4,3]], 
    index = [1,2], 
    columns=['a', 'b', 'c'])

In [6]:
df

   a  b  c
1  4  7  4
2  5  4  3

In [10]:
df = pd.DataFrame(
    {"a":[2,3,4], 
     "b":[2,9,4],
     "c": [9,3,2]},
    index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2)],
    names=['n','v']))

In [11]:
df

     a  b  c
n v
d 1  2  2  9
  2  3  9  3
e 2  4  4  2